<section>

  <br>
  <form (submit)="postStudents()">
    <label style="font-size: 25px;"><strong>Add new student:  </strong></label>
<input class="input" type="text" name="emri" placeholder="emri i studentit" [(ngModel)]="newStudent.name">
<input class="input" type="text" name="username" placeholder="username i studentit" [(ngModel)]="newStudent.username">
<input class="input" type="email" name="email" placeholder="email i studentit" [(ngModel)]="newStudent.email">
<button class="input" class="button add_button"  type="submit">Add</button>
</form>
<br>

<br>
<form *ngIf="editingIndex !== -1" (submit)="onEditSubmit()">
  <label style="font-size: 25px;"><strong>Edit student:  </strong></label>
  <input type="text" class="input" name="name" [(ngModel)]="selectedStudent.name" placeholder="Name">
  <input type="text" class="input" name="username" [(ngModel)]="selectedStudent.username" placeholder="Username">
  <input type="email" class="input" name="email" [(ngModel)]="selectedStudent.email" placeholder="Email">
  <button type="submit" class="input button save_button">Save</button>
  <button type="button" class="input button save_button"  (click)="cancelEdit()">Cancel</button>
</form>
<br>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name and surname</th>
        <th>Username</th>
        <th>E-mail address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ student.name }}</td>
        <td>{{student.username}}</td>
        <td><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>
        <td>
          <a href="#" class="button button-green" (click)="editStudent(i)">Edit</a>
          <button class="button button-red" (click)="deleteStudents(student.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>




</section>




